[submodule "tools/be-ops"]
	path = tools/be-ops
	url = git@github.com:brickKit/be-ops.git
[submodule "tools/be-acceptance"]
	path = tools/be-acceptance
	url = git@github.com:brickKit/be-acceptance.git
[submodule "tools/be-sdk-go"]
	path = tools/be-sdk-go
	url = git@github.com:brickKit/be-sdk-go.git
